/* .card-body .garis-bawah::after {
    position: absolute;
    content: "";
    background: #8a7fff;
    height: 4px;
    width: 180px;
    left: 10%;
    transform: translateX(-50%);
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
  } */


  
  .cards {
    margin-top: 15rem;
    width: 100%;
    border: #a9a9a9 1px solid;
    margin-bottom: 200px;
    border-radius: 10px;
  }
  
  .cards .card-header {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #8a7fff;
  }
  
  .cards h3 {
    font-size: 23px;
    margin: 20px;
    font-weight: bold;
  }
  
  .cards .card-text {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
  }
  
  @media (max-width: 426px) {
    .cards {
      width: 100%;
      margin-top: auto;
    }
    .card-header {
      font-size: 30px !important;
    }
    .garis-bawah::after {
      position: absolute;
      content: "";
      background: #8a7fff;
      height: 4px;
      width: 180px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 2.5rem;
    }
  }
  